django>=5.1,<5.2
djangorestframework>=3.15
drf-spectacular>=0.27
django-allauth>=64.0
psycopg[binary]>=3.2
python-decouple>=3.8
dj-database-url>=2.2
whitenoise>=6.7
pillow>=10.4
cloudinary>=1.41
django-cloudinary-storage>=0.3
pydantic>=2.8
django-ratelimit>=4.1
django-recaptcha>=4.0
django-otp>=1.5
qrcode>=7.4
celery[redis]>=5.4
redis>=5.0
hijri-converter>=2.3
sentry-sdk[django]>=2.13
gunicorn>=22.0
